################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01 Predavanje/Demo/.vs
/01 Predavanje/Demo/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0
/01 Predavanje/Demo/WndClient/Connected Services/SoapSvc.Faktorijel
/01 Predavanje/Demo/WndClient/bin/Debug
/02 Predavanje/Demo/.vs
/02 Predavanje/Demo/WebAPIDemo/obj
/02 Predavanje/Demo/WebAPIDemo/bin/Debug/netcoreapp2.1
/01 Predavanje/Demo/WebServiceSOAP/bin
/01 Predavanje/Demo/WebServiceSOAP/obj
/.vs
/03 Predavanje/Demo-01-routing-temp/.vs
/03 Predavanje/Demo-01-routing-temp/WebAPIDemo/bin/Debug/netcoreapp2.1
/03 Predavanje/Demo-01-routing-temp/WebAPIDemo/obj
/03 Predavanje/Demo-02-xml-formatter/WebAPIDemo/obj
/03 Predavanje/Demo-02-xml-formatter/WebAPIDemo/bin/Debug/netcoreapp2.1
/03 Predavanje/Demo-02-xml-formatter/.vs
/03 Predavanje/Demo-03-validation/WebAPIDemo/obj
/04 Predavanje/Demo/WebAPIDemo/obj
/04 Predavanje/Demo/WebAPIDemo/bin/Debug/netcoreapp2.1
/03 Predavanje/Demo-03-validation/WebAPIDemo/bin/Debug/netcoreapp2.1
/03 Predavanje/Demo-03-validation/.vs
/01 Predavanje/Demo/WndClient/obj/Debug
/04 Predavanje/Demo/.vs
/07 Predavanje/Demos/WinFormsDemo01/.vs/WinFormsDemo01/v16
/07 Predavanje/Demos/WPFDemo01/.vs/DataBindingDemo/v16
/07 Predavanje/Demos/WPFDemo2/.vs/MasterDetailXml/v16
/08 Predavanje/XamarinDemo/.vs/XamarinDemo
/09 Predavanje/CIDWebDemo/.vs/CIDWebDemo/v16
/09 Predavanje/CIDWebDemo/CIDWebDemo/bin/Debug/netcoreapp2.1
/09 Predavanje/CIDWebDemo/CIDWebDemo/obj
/09 Predavanje/CIDWebDemo/XUnitTestProject1/bin/Debug/netcoreapp2.1
/09 Predavanje/CIDWebDemo/XUnitTestProject1/obj
