################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01 Predavanje/Demo/.vs
/01 Predavanje/Demo/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0
/01 Predavanje/Demo/WndClient/Connected Services/SoapSvc.Faktorijel
/01 Predavanje/Demo/WndClient/bin/Debug
/02 Predavanje/Demo/.vs
/02 Predavanje/Demo/WebAPIDemo/obj
/02 Predavanje/Demo/WebAPIDemo/bin/Debug/netcoreapp2.1
/01 Predavanje/Demo/WebServiceSOAP/bin
/01 Predavanje/Demo/WebServiceSOAP/obj
/.vs
