<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebFaktorijelSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52609/WebFaktorijel.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebFaktorijelSoap"
                contract="SoapSvc.Faktorijel.WebFaktorijelSoap" name="WebFaktorijelSoap" />
        </client>
    </system.serviceModel>
</configuration>